.encabezado {
  background: #0c0c0f;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255,255,.08);
}

.encabezado .contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: 800;
  color: white;
}

.nav-link {
  color: white;
  transition: color .25s;
}

.nav-link:hover,
.nav-link.active {
  color: #00d084;
}
